.site-alert {
  min-width: 200px;
  position: fixed;
  right: 0;
  z-index: 10000;
  padding: 10px;
  border-radius: 5px;

  &_success {
    background-color: limegreen;
    color: #fff;
  }

  &_error {
    background-color: red;
    color: #fff;
  }

}
